<div>
    <div class="wrap">
        <div class="container">
       <a href="https://bitcoin.org/en/"><h2 id="btc">Bitcoin</h2></a> 
       <a href="https://ethereum.org/en/"><h2 id="eth" type="button" >Ethereum</h2></a> 
       <a href="https://polkadot.network/dot-token/?gclid=EAIaIQobChMIxIrE9Kjt9QIVdZNmAh39BgQsEAAYASAAEgIPYvD_BwE"><h2 id="pkd" type="button">Polkadot</h2></a>
       <a href="https://www.binance.com/en"><h2 id="bnc" type="button">Binance</h2></a>
       <a href="https://dogecoin.com/"><h2 id="dgc" type="button">Dogecoin</h2></a>
       <a routerLink="/login"><button>Logout</button></a>
        </div>
    </div> 
</div>
<!-- <div >
<ol *ngFor="let item of items">
<li (click)="myfunc(item)">{{item}}</li>
</ol>
</div> -->